<ActionBar title="Message">
</ActionBar>

<GridLayout rows="*, auto" backgroundColor="#ffffff">
    <!-- MESSAGE SECTION -->
    <StackLayout row="0">
        <ScrollView margin="5 0 0 0" padding="10 0">
            <GridLayout rows="auto">
                <GridLayout class="token-body" row="1" columns="*" rows="*, *, *">
                    <StackLayout row="0" col="0" borderBottomWidth="1" borderBottomColor="#e8e8e8" padding="10 0">
                        <Label [text]="message_data.message.title" fontSize="22" fontWeight="bold"></Label>
                    </StackLayout>
                    <StackLayout row="1" col="0" borderBottomWidth="1" borderBottomColor="#e8e8e8" padding="20 0">
                        <Label [text]="message_data.message.subtitle" fontSize="18" fontWeight="bold"></Label>
                        <Label [text]="(message_data.message.publish_date * 1000) | date: 'MMMM d, y \'at\' h:mm a'" fontSize="16" color="#909090"></Label>
                    </StackLayout>
                    <StackLayout row="2" col="0">
                        <HtmlView [html]="message_data.message.body"></HtmlView>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </ScrollView>
    </StackLayout>
</GridLayout>