<Home (messageCounter)="messageCounter($event)"></Home>
<GridLayout height="50" verticalAlignment="bottom">
    <GridLayout class="bottom-bar" columns="*, *, *, *, *" backgroundColor="#fafafa" borderTopWidth="1" borderColor="#e8e8e8">
        <GridLayout col="0" rows="*, *" (tap)="selectTab(0)">
            <Label row="0" class="fas bottom-icon" [ngClass]="{'active': selectedTab === 0}" text="&#xf015;"></Label>
            <Label row="1" class="fas bottom-icon-text" [ngClass]="{'active': selectedTab === 0}" text="Home"></Label>
        </GridLayout>
        <GridLayout col="1" rows="*, *" columns="*, 50" (tap)="selectTab(1)">
            <Label row="0" col="0" class="fas bottom-icon" [ngClass]="{'active': selectedTab === 1}" text="&#xf0e0;" marginRight="-50"></Label>
            <Label row="1" col="0" class="fas bottom-icon-text" [ngClass]="{'active': selectedTab === 1}" text="Inbox" marginRight="-50"></Label>
            <Label row="0" col="1" class="bottom-icon-badge" color="#ffffff" *ngIf="message_count > 0" backgroundColor="#ff0000" borderRadius="100%" marginTop="-5" height="20" width="20" fontSize="12" [text]="message_count"></Label>
        </GridLayout>
        <GridLayout col="2" rows="*, *" (tap)="selectTab(2)">
            <Label row="0" class="fas bottom-icon" [ngClass]="{'active': selectedTab === 2}" text="&#xf3c5;"></Label>
            <Label row="1" class="fas bottom-icon-text" [ngClass]="{'active': selectedTab === 2}" text="Locations"></Label>
        </GridLayout>
        <GridLayout col="3" rows="*, *" (tap)="selectTab(3)">
            <Label row="0" class="fas bottom-icon" [ngClass]="{'active': selectedTab === 3}" text="&#xf543;"></Label>
            <Label row="1" class="fas bottom-icon-text" [ngClass]="{'active': selectedTab === 3}" text="Transactions"></Label>
        </GridLayout>
        <GridLayout col="4" rows="*, *" (tap)="selectTab(4)">
            <Label row="0" class="fas bottom-icon" [ngClass]="{'active': selectedTab === 4}" text="&#xf007;"></Label>
            <Label row="1" class="fas bottom-icon-text" [ngClass]="{'active': selectedTab === 4}" text="Account"></Label>
        </GridLayout>
    </GridLayout>
</GridLayout>